[user]
	name = shurto11
	email = y.shuto0101@gmail.com
[safe]
	directory = /home/shurto11/ssd/ssbrowse
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
